//for layout components
/* header */
.ant-layout-header {
    background-color: #121212;
    display: flex;
    align-items: center;
    height: 60px;
    background-color: #121212;
    color: #ffffff;
    width: 100%;
}

/* sider */
.ant-layout-sider {
    background-color: #ffffff;
    max-width: 220px !important;
    min-width: 220px !important;
    width: 220px !important;
}

/* menu */
.ant-menu {
    padding-left: 2px;
    padding-right: 2px;
    margin-top: 16px;
}

/* space of items at level 2 */
.ant-menu-sub {
    background-color: #ffffff !important;
}

/* items: level 1, not child */
.ant-menu-item {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    color: #000000 !important;
    height: 36px !important;
    padding-left: 10px !important;
}

/* items: level 1, has child */
.ant-menu-submenu-title {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    color: #000000 !important;
    height: 36px !important;
    padding-left: 10px !important;
}

/* item: level 2 */
.ant-menu-item-only-child {
    font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
    color: #00000086 !important;
    height: 36px !important;
    padding-left: 34px !important;
}

/* item selected: level 1, 2 */
.ant-menu-item-selected {
    background-color: #00000016 !important;
    color: rgb(0, 153, 149) !important;
    border: 2px solid rgb(0, 153, 149);
}

/* icon selected: level 1, not child*/
.ant-menu-submenu-selected {
    .ant-menu-item-icon {
        color: rgb(0, 153, 149) !important;
    }
}

/* icon selected: level 1, has child */
.ant-menu-item-selected {
    .ant-menu-item-icon {
        color: rgb(0, 153, 149) !important;
    }
}