//for main
@font-face {
  font-family: TikTokFont;
  src: url('/font/TikTokText-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* page header */
.ant-flex {
  margin-top: 14px !important;
}

.dmon-title-header {
  font-family: TikTokFont, Arial, Tahoma, PingFangSC, sans-serif;
}